@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-container::-webkit-scrollbar {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #9333ea;
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #8617ee;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}
